.download{
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgba(29, 38, 49, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 20px;
    align-items: center;
}

.download__wrp{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.download__systems-list{
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}

.download__btn{
    height: 50px;
    width: 275px;
    border: 3px solid #fff;
    border-radius:  25px;
    color: #fff;
    text-decoration: none;
    padding: 7px 50px;
    box-sizing: border-box;
    margin-bottom: 25px;
    line-height: 30px;
    font-size: 16px;
}

.download__span{
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
}

@media (min-width:660px){
    .download { 
        min-height: 550px;
        width: 40%;
        margin-top: -550px;
        background-color: transparent;
        margin-bottom: 0;
        padding-top: 0;
    }

    .download__h1{
        display: inline-block;
        font-size: 40px;
        text-align:center;
        color: #fff;
        font-weight: 300;
        margin: 0;
        padding: 0 50px 35px 50px;
    }

    .download__btn{
        margin-bottom: 0;
    }

    .download__systems-list{
        justify-content: space-around;
        padding: 40px;
    }

    .download__span{
        padding-bottom: 40px;
        font-size: 17px;
    }
}

@media (min-width:1200px){
        .download { 
            width: 60%;
            padding: 0;
            min-height: 635px;
            margin-top: -635px;
        }
        
        .download__h1{
            font-size: 50px;
            padding: 0;
            padding:0 30px 35px 30px;
        }

        .download__btn{
           margin-bottom: 60px;
        }

        .download__systems-list{
            padding:0;
            padding-bottom: 60px;
        }

        .download__span{
            padding-bottom: 120px;
        }
}

.download__btn:hover{
    background-color: #fff;
    color: #d22856;
}

.download__btn:active{
    background-color: #fff;
    color: #f2cdd4;
}