.main-nav__list,
.download__h1,
.page-header__logo-img--tablet,
.page-header__logo-img--desktop,
.description,
.review__author-desk,
.page-footer,
.review__button{
    display: none;
}

body {
    min-width: 320px;
    margin: 0;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.main-nav--no-js .main-nav__toogle {
    display: none;
  }
  
.main-nav--no-js .main-nav__wrapper {
    position: relative;
  }



@import 'fonts';

@import 'page-header';
@import 'download';
@import 'proposal';
@import 'description';
@import 'review';
@import 'price';
@import 'contacts';
@import 'map';
@import 'footer';


@import 'users-photo';
@import 'posting';

@media(min-width: 660px){
    body {
        min-width: 660px;
    }
}

.hidden{
    display: none;
}