.map::before {
    background-size: cover;
}

.map {
    background: url(../img/bg-map-mobile.webp) no-repeat;
    position: relative;
    height: 219px;
    background-size: cover;
}

.map::before {
    content: "";
    position: absolute;
    margin: auto;
    top: -1px;
    bottom: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 53px;
    background: url(../img/bg-triangle-white-footer.svg) no-repeat top center;
    z-index: 20;
}

@media (min-width:660px){
    .map {
        background: url(../img/bg-map-desktop.webp) no-repeat;
        height: 375px;
    }
}

@media(min-width:1200px){
    .map {
        background: url(../img/bg-map-desktop.webp) no-repeat;
        height: 500px;
        background-size: cover;
    }
}
