.review{
    padding: 0 20px 50px 20px;
    background: rgb(242,242,242);
    background: linear-gradient(355deg, rgba(242,242,242,1) 30%, rgba(255,255,255,1) 30%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.review__item{
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 100%;
}

.review__text{
    order: 2;
}

.review__text{
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.review__author{
    font-size: 18px;
    font-weight: 700;
    padding-top: 50px;
    margin: 0;
}


.button--prev{
    order: 1;
    background-image: url(../img/left-arrow.webp);
}

.button--next{
    order: 3;
    background-image: url(../img/right-arrow.webp);
}

.review__button{
    height: 50px;
    width: 150px;
    border: none;
    background-color: transparent;
    align-self: center;
   background-repeat: no-repeat;
   background-position: center;
   outline: none;
}

@media (min-width:660px){
    .review{
        padding-bottom: 60px;
    }

    .review__item{
        width: 100%;
        padding: 0 40px;
        align-self: center;
    }
    
    .review__author-desk{
        display: inline-block;
        padding: 15px 0 45px 0;
    }

    .review__text{
        padding-top: 60px;
        padding-bottom: 40px;
        order: 0;
        font-size: 18px;
        margin: 0;
        min-height: 80px;
    }

    .review__author{
        padding:0;
    }

    .review__pagination{
        padding-bottom: 0;
    }
}

@media (min-width:1200px){
    .review{
        padding: 0 130px;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 150px;
    }

    .review__pagination{
        display: none;
    }

    .review__item{
        width: 720px;
        padding-top: 130px;
        background-image: url(../img/quotes.webp);
        background-repeat: no-repeat;
        background-position: center 70px;
        order: 2;
    }

    .button--prev{
        order: 1;
        background-image: url(../img/left-arrow.webp);
    }

    .button--next{
        order: 3;
        background-image: url(../img/right-arrow.webp);
    }

    .review__button{
        height: 150px;
        width: 50px;
        border: none;
        background-color: transparent;
        align-self: center;
       background-repeat: no-repeat;
       background-position: center;
       outline: none;
    }
}


.button--prev:hover{
    background-image: url(../img/left-arrow-hover.webp);
}

.button--prev:active{
    background-image: url(../img/left-arrow.webp);
    opacity: 0.5;
}


.button--next:hover{
    background-image: url(../img/right-arrow-hover.webp);
}

.button--next:active{
    background-image: url(../img/right-arrow.webp);
    opacity: 0.5;
}

.pagination__item:hover{
    background-color: #7e868f;
}

.pagination__item:hover{
    background-color: #e9ebec;
}