@charset "UTF-8";
.description,
.download__h1,
.main-nav__list,
.page-footer,
.page-header__logo-img--desktop,
.page-header__logo-img--tablet,
.review__author-desk {
  display: none
}
body {
  min-width: 320px;
  margin: 0;
  position: relative
}
.container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans'
}
.main-nav--no-js .main-nav__toogle {
  display: none
}
.main-nav--no-js .main-nav__wrapper {
  position: relative
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local("Open Sans"),url(../font/OpenSans-Regular.woff) format("woff");
  font-display: swap
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: local("Open Sans"),url(../font/OpenSans-Bold.woff) format("woff");
  font-display: swap
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local("Open Sans"),url(../font/OpenSans-Light.woff) format("woff");
  font-display: swap
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 400px;
  background-image: url(../img/iphone-hand-mobile.webp),url(../img/bg-back-mobile.webp);
  background-repeat: no-repeat;
  background-size: 290px,cover;
  background-position: bottom center;
  position: relative
}
.page-header__logo {
  position: absolute;
  top: 20px;
  left: 20px
}
.page-header__nav {
  background-color: rgba(29,38,50,.6);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.main-nav__toogle {
  margin: 20px;
  margin-left: auto;
  width: 50px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url(../img/menu-burger.webp);
  background-repeat: no-repeat;
  background-position: center;
  outline: 0
}
.main-nav__list-item {
  list-style-type: none;
  padding: 25px 0;
  text-align: center
}
.main-nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px
}
@media (max-width:1199px) {
  .main-nav--closed {
    position: relative
  }
  .main-nav--closed .main-nav__toogle {
    background-image: url(../img/menu-cross.webp);
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0
  }
  .main-nav--closed .main-nav__list {
    display: block;
    margin: 0;
    margin-top: 70px;
    padding: 0;
    width: 100%
  }
  .main-nav__link {
    text-transform: uppercase;
    font-weight: 700
  }
  .main-nav__list-item {
    border-bottom: 1px solid #000;
    border-top: 1px solid #485461
  }
}
@media (min-width:660px) {
  .main-nav--closed .main-nav__list {
    margin-top: 110px
  }
  .main-nav--closed .main-nav__toogle {
    top: 40px
  }
  body {
    min-width: 660px
  }
  .page-header__logo-img--tablet {
    display: block
  }
  .page-header__logo-img--mobile {
    display: none
  }
  .page-header {
    padding-bottom: 650px;
    background-image: url(../img/iphone-hand-mobile.webp),url(../img/bg-back-mobile.webp);
    background-repeat: no-repeat;
    background-size: 520px,cover;
    background-position-x: 86%,center;
    background-position-y: bottom,center
  }
  .main-nav__toogle {
    margin: 40px 20px 35px auto
  }
  .page-header__logo {
    position: absolute;
    top: 30px;
    left: 20px
  }
}
@media (min-width:1200px) {
  body {
    min-width: 1200px;
    margin: 0 auto;
    background: #f2f2f2
  }
  .page-header {
    padding: 0 0 785px 0
  }
  .page-header__nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
  .page-header__logo-img--desktop {
    display: block
  }
  .page-header__logo-img--tablet {
    display: none
  }
  .main-nav__toogle {
    display: none
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .main-nav__list-item {
    padding-left: 80px
  }
  .page-header__logo {
    position: absolute;
    top: 25px;
    left: 130px
  }
}
.page-header--photo {
  padding-bottom: 170px;
  background-image: url(../img/bg-back-mobile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
@media (min-width:660px) {
  .page-header--photo {
    padding-bottom: 370px
  }
}
@media (min-width:1200px) {
  .page-header--photo {
    padding-bottom: 330px
  }
  .page-main--photo {
    background: #fff
  }
}
.page-header__logo-img:hover {
  opacity: .8
}
.page-header__logo-img:active {
  opacity: .5
}
.main-nav__link:hover {
  color: #d22856
}
.main-nav__link:active {
  opacity: .3;
  color: #fff
}
.download {
  background-position: top;
  background-repeat: no-repeat;
  background-color: #1d2631;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 35px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.download__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10
}
.download__systems-list {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 25px
}
.download__btn {
  height: 50px;
  width: 275px;
  border: 3px solid #fff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  padding: 7px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 16px
}
.download__span {
  color: #fff;
  font-weight: 300;
  text-align: center;
  font-size: 14px
}
@media (min-width:660px) {
  .download {
    min-height: 550px;
    width: 40%;
    margin-top: -550px;
    background-color: transparent;
    margin-bottom: 0;
    padding-top: 0
  }
  .download__h1 {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 0 50px 35px 50px
  }
  .download__btn {
    margin-bottom: 0
  }
  .download__systems-list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 40px
  }
  .download__span {
    padding-bottom: 40px;
    font-size: 17px
  }
}
@media (min-width:1200px) {
  .download {
    width: 60%;
    padding: 0;
    min-height: 635px;
    margin-top: -635px
  }
  .download__h1 {
    font-size: 50px;
    padding: 0;
    padding: 0 30px 35px 30px
  }
  .download__btn {
    margin-bottom: 60px
  }
  .download__systems-list {
    padding: 0;
    padding-bottom: 60px
  }
  .download__span {
    padding-bottom: 120px
  }
}
.download__btn:hover {
  background-color: #fff;
  color: #d22856
}
.download__btn:active {
  background-color: #fff;
  color: #f2cdd4
}
.proposal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  background: #f2f2f2;
  background: -o-linear-gradient(95deg,#f2f2f2 70%,#fff 70%);
  background: linear-gradient(355deg,#f2f2f2 70%,#fff 70%)
}
.proposal__h1 {
  text-align: center;
  font-weight: 300;
  margin: 0;
  margin-top: 45px
}
.proposal__wrp {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-bottom: 300px;
  background-image: url(../img/iphone-screen-3-desktop.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 280px
}
.proposal__h3 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 20px
}
.proposal_text {
  font-size: 14px;
  margin: 0;
  padding-bottom: 40px
}
@media (min-width:660px) {
  .proposal {
    padding: 0 130px
  }
  .proposal__h1 {
    font-size: 40px
  }
  .proposal__h1:nth-child(2) {
    margin: 0;
    padding: 0 140px 20px 140px
  }
  .proposal__wrp {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 660px;
    text-align: left;
    padding-left: 330px;
    padding-bottom: 0;
    background-position-x: -8px;
    background-position-y: 50px;
    background-size: 266px;
    background-image: url(../img/iphone-screen-3-desktop_1.webp)
  }
}
@media (min-width:1200px) {
  .proposal {
    padding-bottom: 70px
  }
  .proposal__h1 {
    font-size: 50px
  }
  .proposal__h1:first-child {
    margin-top: 70px
  }
  .proposal__h1:nth-child(2) {
    padding-bottom: 80px;
    width: 450px
  }
  .proposal__wrp {
    width: 960px;
    background-image: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .proposal__item {
    min-height: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 240px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top
  }
  .proposal__item:first-child {
    background-image: url(../img/iphone-screen-1-desktop.webp);
    background-size: 305px
  }
  .proposal__item:nth-child(2) {
    background-image: url(../img/iphone-screen-2-desktop.webp);
    background-size: 305px
  }
  .proposal__item:nth-child(3) {
    background-image: url(../img/iphone-screen-3-desktop.webp);
    background-size: 305px
  }
  .proposal__h3 {
    font-size: 30px
  }
  .proposal_text {
    font-size: 18px
  }
}
@media (min-width:660px) {
  .description {
    display: -ms-grid;
    display: grid;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    -ms-grid-rows: min-content min-content min-content;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
    -webkit-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px;
    padding-top: 85px
  }
  .description__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    width: 240px;
    height: 275px
  }
  .description__h3 {
    font-size: 30px;
    width: 180px;
    margin: 0;
    padding-bottom: 15px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 0
  }
  .description__info {
    padding-right: 40px;
    margin: 0;
    padding-bottom: 15px;
    font-size: 14px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 300px
  }
  .description__link {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    font-size: 14px;
    color: #d22856
  }
}
@media (min-width:1200px) {
  .description {
    margin: 0 auto;
    width: 960px;
    background: #f2f2f2;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    padding: 0 120px 70px 120px;
    -webkit-column-gap: 10%;
    -moz-column-gap: 10%;
    column-gap: 10%
  }
  .description__img {
    -ms-grid-column-align: end;
    justify-self: end;
    width: 300px;
    height: 345px
  }
  .description__h3 {
    width: 100%;
    font-size: 30px;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    padding-bottom: 20px
  }
  .description__info {
    width: 570px;
    padding: 0;
    font-size: 18px
  }
  .description__link {
    padding-bottom: 50px
  }
}
.review {
  padding: 0 20px 50px 20px;
  background: #f2f2f2;
  background: -o-linear-gradient(95deg,#f2f2f2 30%,#fff 30%);
  background: linear-gradient(355deg,#f2f2f2 30%,#fff 30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.review__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%
}
.review__text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}
.review__text {
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 60px
}
.review__author {
  font-size: 18px;
  font-weight: 700;
  padding-top: 50px;
  margin: 0
}
.button--prev {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background-image: url(../img/left-arrow.webp)
}
.button--next {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  background-image: url(../img/right-arrow.webp)
}
.review__button {
  height: 50px;
  width: 150px;
  border: none;
  background-color: transparent;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  outline: 0
}
@media (min-width:660px) {
  .review {
    padding-bottom: 60px
  }
  .review__item {
    width: 100%;
    padding: 0 40px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
  }
  .review__author-desk {
    display: inline-block;
    padding: 15px 0 45px 0
  }
  .review__text {
    padding-top: 60px;
    padding-bottom: 40px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    font-size: 18px;
    margin: 0;
    min-height: 80px
  }
  .review__author {
    padding: 0
  }
  .review__pagination {
    padding-bottom: 0
  }
}
@media (min-width:1200px) {
  .review {
    padding: 0 130px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 150px
  }
  .review__pagination {
    display: none
  }
  .review__item {
    width: 720px;
    padding-top: 130px;
    background-image: url(../img/quotes.webp);
    background-repeat: no-repeat;
    background-position: center 70px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
  .button--prev {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-image: url(../img/left-arrow.webp)
  }
  .button--next {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    background-image: url(../img/right-arrow.webp)
  }
  .review__button {
    height: 150px;
    width: 50px;
    border: none;
    background-color: transparent;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0
  }
}
.button--prev:hover {
  background-image: url(../img/left-arrow-hover.webp)
}
.button--prev:active {
  background-image: url(../img/left-arrow.webp);
  opacity: .5
}
.button--next:hover {
  background-image: url(../img/right-arrow-hover.webp)
}
.button--next:active {
  background-image: url(../img/right-arrow.webp);
  opacity: .5
}
.pagination__item:hover {
  background-color: #7e868f
}
.pagination__item:hover {
  background-color: #e9ebec
}
.price {
  position: relative;
  background: #f2f2f2;
  padding-bottom: 100px;
  text-align: center
}
.price__input {
  display: none
}
.price-table {
  width: calc(300% - 133px);
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}
.price-table__cell {
  padding: 16px 0 13px;
  background: #fff;
  border: 1px solid #e5e5e5
}
.price-table__cell-inner {
  padding: 20px 0;
  background: #283645;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5
}
.price-table__cell-inner:nth-child(3) {
  background-image: url(../img/hit-ribbon.webp);
  background-repeat: no-repeat;
  position: relative
}
.price-table__cell-inner:nth-child(3)::before {
  position: absolute;
  content: 'хит';
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  left: 10px;
  top: 17px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
td.price-table__cell:first-child .price-table__cell-headline::after,
td.price-table__cell:first-child .price-table__cell-headline::before {
  content: none
}
.price-table__cell-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0
}
.price-table__cell-cost {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #f1f2f3;
  text-transform: uppercase;
  margin: 0
}
.price-table__cell-headline {
  position: relative;
  font-size: 14px;
  color: #283645;
  text-transform: uppercase;
  display: inline-block;
  text-align: start;
  margin: 0;
  width: 75%
}
@media (max-width:659px) {
  .price__controls {
    content: "";
    position: absolute;
    margin: auto;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 20px;
    padding-bottom: 39px;
    z-index: 10
  }
  .price__controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    vertical-align: top;
    background: #bec2c7;
    border: solid 3px #f2f2f2;
    border-radius: 50%;
    cursor: pointer
  }
  .price__controls label:hover {
    background: #7e868f
  }
  .price__controls label:active {
    background: #e9ebec
  }
  #btn-1:checked ~ .slider__controls label[for=btn-1],
  #btn-2:checked ~ .slider__controls label[for=btn-2],
  #btn-3:checked ~ .slider__controls label[for=btn-3],
  #btn-price-1:checked ~ .price__controls label[for=btn-price-1],
  #btn-price-2:checked ~ .price__controls label[for=btn-price-2],
  #btn-price-3:checked ~ .price__controls label[for=btn-price-3] {
    background: #fff;
    border: solid 3px #283645
  }
  .price__wrapper {
    overflow: hidden
  }
  #btn-price-1:checked ~ .price__wrapper .price-table {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px)
  }
  #btn-price-2:checked ~ .price__wrapper .price-table {
    -webkit-transform: translateX(calc(-33.333333% + 23px));
    -ms-transform: translateX(calc(-33.333333% + 23px));
    transform: translateX(calc(-33.333333% + 23px))
  }
  #btn-price-3:checked ~ .price__wrapper .price-table {
    -webkit-transform: translateX(calc(-66.666666% + 24px));
    -ms-transform: translateX(calc(-66.666666% + 24px));
    transform: translateX(calc(-66.666666% + 24px))
  }
  .price-table__cell:first-child {
    display: none
  }
  #btn-price-1:checked ~ .price__wrapper .price-table {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px)
  }
  #btn-price-2:checked ~ .price__wrapper .price-table {
    -webkit-transform: translateX(calc(-33.333333% + 23px));
    -ms-transform: translateX(calc(-33.333333% + 23px));
    transform: translateX(calc(-33.333333% + 23px))
  }
  #btn-price-3:checked ~ .price__wrapper .price-table {
    -webkit-transform: translateX(calc(-66.666666% + 24px));
    -ms-transform: translateX(calc(-66.666666% + 24px));
    transform: translateX(calc(-66.666666% + 24px))
  }
}
@media (min-width:660px) {
  .price__wrapper {
    max-width: 960px;
    margin: 0 auto
  }
  .price {
    padding: 0 20px 70px 20px
  }
  .price-table {
    width: 100%
  }
  .price-table__cell-headline {
    display: none
  }
  .price-table__cell-empty {
    visibility: hidden
  }
  .price-table__cell {
    width: 150px;
    height: 45px;
    padding: 0
  }
  .price-table__cell-inner {
    height: 75px
  }
  .price-table__cell-title {
    font-size: 16px
  }
  .price-table__cell-cost {
    font-size: 18px
  }
}
@media (min-width:1200px) {
  .price {
    padding: 0 130px 100px 130px
  }
}
.contacts {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.contacts__h1 {
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 0 30px;
  padding-bottom: 40px
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.contacts__p {
  font-size: 18px;
  font-weight: 700;
  margin: 0
}
.contacts__link {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  padding: 0 20px 30px 20px;
  text-decoration: none;
  text-align: center
}
@media (min-width:660px) {
  .contacts {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .contacts__item {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .contacts__h1 {
    width: 100%;
    font-size: 40px;
    padding: 60px 120px
  }
}
@media (min-width:1200px) {
  .contacts {
    background-color: #fff
  }
  .contacts__item {
    width: 250px;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    padding: 0 50px
  }
  .contacts__item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
  .contacts__link {
    padding: 0
  }
  .contacts__p {
    padding-bottom: 35px
  }
}
.contacts__link:hover {
  text-decoration: underline;
  color: #283645
}
.contacts__link:active {
  text-decoration: none;
  color: #cdcfd1
}
.map::before {
  background-size: cover
}
.map {
  background: url(../img/bg-map-mobile.webp) no-repeat;
  position: relative;
  height: 219px;
  background-size: cover
}
.map::before {
  content: "";
  position: absolute;
  margin: auto;
  top: -1px;
  bottom: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 53px;
  background: url(../img/bg-triangle-white-footer.svg) no-repeat top center;
  z-index: 20
}
@media (min-width:660px) {
  .map {
    background: url(../img/bg-map-desktop.webp) no-repeat;
    height: 375px
  }
}
@media (min-width:1200px) {
  .map {
    background: url(../img/bg-map-desktop.webp) no-repeat;
    height: 500px;
    background-size: cover
  }
}
.page-footer--photo {
  display: block
}
.page-footer {
  width: 100%
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.social__link {
  border: 2px solid #e9ebec;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 7px
}
@media (min-width:660px) {
  .page-footer {
    display: block
  }
}
@media (min-width:1200px) {
  .page-footer {
    background-color: #fff
  }
  .social__link {
    margin: 70px 7px
  }
}
.social__link:hover {
  border: 2px solid #283645
}
.social__link:active {
  opacity: .5
}
.users-photo {
  margin-top: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.users-photo__h1 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 140px;
  width: 220px;
  z-index: 10
}
.users-photo__text {
  font-size: 14px;
  text-align: center;
  width: 220px;
  margin: 0;
  padding-bottom: 60px
}
.users-photo__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px
}
.panorama {
  position: relative;
  width: 100%
}
.panorama__img {
  vertical-align: bottom;
  width: 100%;
  position: relative
}
.panorama:after {
  position: absolute;
  content: "панорама дня";
  font-weight: 700;
  text-transform: uppercase;
  right: 15%;
  color: #fff;
  background-image: url(../img/pano.webp);
  background-repeat: no-repeat;
  width: 140px;
  height: 35px;
  text-align: center;
  line-height: 37px;
  font-size: 12px
}
.users-photo__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.photo-info {
  width: 280px;
  margin: 0 20px;
  padding: 20px;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.panorama__description {
  width: auto
}
.photo-info__author {
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  margin: 0
}
.photo-info__timer {
  text-transform: uppercase;
  font-weight: 300
}
.photo-info__text {
  margin: 0;
  font-size: 14px;
  padding-bottom: 20px
}
.users-photo__item-img {
  vertical-align: bottom
}
.photo-info__like {
  border: none;
  background-image: url(../img/like.webp);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 25px;
  text-transform: uppercase;
  color: #d22856;
  font-size: 12px;
  background-color: transparent;
  margin-top: auto;
  width: 140px
}
@media (min-width:660px) {
  .users-photo {
    margin-top: -260px
  }
  .users-photo__h1 {
    font-size: 50px;
    width: 380px;
    padding-bottom: 200px
  }
  .users-photo__text {
    width: 450px;
    font-size: 18px;
    padding-bottom: 80px
  }
  .photo-info {
    margin: 0;
    width: 300px
  }
  .panorama:after {
    top: 5%;
    right: 5%
  }
  .panorama__description {
    width: 620px
  }
  .users-photo__wrp {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 660px
  }
  .users-photo__item {
    width: 300px
  }
  .panorama {
    width: 660px
  }
  .photo-info__like {
    border: none;
    background-image: url(../img/like.webp);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 0;
    text-transform: uppercase;
    color: #d22856;
    font-size: 12px;
    width: 100%;
    text-align: start
  }
}
@media (min-width:1200px) {
  .users-photo__text {
    width: 600px
  }
  .panorama {
    width: 1200px
  }
  .photo-info {
    width: 300px;
    margin: 0
  }
  .panorama__description {
    width: 940px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    -ms-grid-rows: -webkit-min-content 1fr;
    -ms-grid-rows: min-content 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 15px
  }
  .photo-info__author--panorama {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: 0
  }
  .photo-info__like--panorama {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3
  }
  .photo-info__text--panorama {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3
  }
  .users-photo__wrp {
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.posting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.posting__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.posting__text {
  font-size: 14px;
  text-align: center;
  margin: 0;
  font-weight: 400;
  line-height: 30px
}
.posting__text:first-child {
  padding-top: 30px;
  width: 200px
}
.posting__text:nth-child(2) {
  padding-bottom: 40px
}
.posting__item {
  width: 100%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.posting__img {
  padding-bottom: 40px
}
.posting__radio {
  width: 280px;
  margin: 0;
  padding-bottom: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr -webkit-min-content;
  -ms-grid-rows: 1fr min-content;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px
}
.posting__radio-item {
  display: none
}
.posting__radio-label {
  position: relative;
  width: 50px;
  height: 50px;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
.posting__radio-label--size {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2
}
.posting__radio-label--color {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3
}
.posting__radio-label--contrast {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4
}
.posting__radio-label:before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px
}
.posting__radio-label:hover:before {
  opacity: .8
}
.posting__radio-label--size:before {
  background-image: url(../img/crop.webp)
}
.posting__radio-label--color:before {
  background-image: url(../img/fill.webp)
}
.posting__radio-label--contrast:before {
  background-image: url(../img/contrast.webp)
}
.posting__range {
  width: 240px;
  -webkit-appearance: none;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
  justify-self: center;
  outline: 0
}
.posting__range::-webkit-slider-runnable-track {
  height: 2px;
  background: #283645;
  border: none
}
.posting__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #d22957;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f2f2f2;
  margin-top: -4px
}
.posting__range::-webkit-slider-thumb:hover {
  background: #d22957
}
.posting__button {
  height: 50px;
  width: 275px;
  border: 3px solid #d22957;
  border-radius: 25px;
  color: #d22957;
  text-decoration: none;
  padding: 7px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  outline: 0
}
.posting__button:hover {
  background-color: #d22957;
  color: #f2f2f2
}
.posting__button:active {
  background-color: #d22957;
  color: #dc6b84
}
.posting__button--disabled {
  color: #e8eaeb;
  border: 3px solid #e8eaeb;
  margin-bottom: 70px
}
.posting__button--disabled:hover {
  background-color: transparent;
  color: #c2c5c9
}
.posting__button--disabled:active {
  background-color: #b5b9be;
  color: #cdcfd3
}
@media (max-width:659px) {
  #size:checked + .posting__radio-label:before {
    background-image: url(../img/crop-checked.webp);
    background-color: #eee
  }
  #color:checked + .posting__radio-label:before {
    background-image: url(../img/fill-checked.webp);
    background-color: #eee
  }
  #contrast:checked + .posting__radio-label:before {
    background-image: url(../img/contrast-checked.webp);
    background-color: #eee
  }
  .posting__range {
    display: none
  }
  #size:checked ~ .posting__range--size {
    display: block
  }
  #color:checked ~ .posting__range--color {
    display: block
  }
  #contrast:checked ~ .posting__range--contrast {
    display: block
  }
}
@media (min-width:660px) {
  .posting__radio {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 300px
  }
  .posting__radio-label {
    width: 30px;
    height: 30px;
    padding: 25px 0
  }
  .posting__text {
    font-size: 18px
  }
  .posting__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 330px 330px;
    grid-template-columns: 330px 330px;
    width: 660px
  }
  .posting__item picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px
  }
  .posting__radio {
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    row-gap: 0
  }
  .posting__radio-label {
    -ms-grid-column-align: start;
    justify-self: start
  }
  .posting__radio-label--color {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2
  }
  .posting__radio-label--contrast {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2
  }
  .posting__radio-label:before {
    width: 30px;
    height: 30px;
    background-size: cover
  }
  .posting__range {
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 200px
  }
  .posting__range--size {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3
  }
  .posting__range--color {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3
  }
  .posting__range--contrast {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3
  }
  .posting__radio-label--size:before {
    background-image: url(../img/crop-checked.webp)
  }
  .posting__radio-label--color:before {
    background-image: url(../img/fill-checked.webp)
  }
  .posting__radio-label--contrast:before {
    background-image: url(../img/contrast-checked.webp)
  }
}
@media (min-width:1200px) {
  .posting__item {
    width: 940px;
    -ms-grid-columns: 470px 470px;
    grid-template-columns: 470px 470px
  }
  .posting__form {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .posting__radio-label {
    width: 50px;
    height: 50px
  }
  .posting__radio-label:before {
    width: 50px;
    height: 50px;
    background-size: cover
  }
  .posting__radio {
    padding-top: 70px;
    width: 410px
  }
  .posting__range {
    width: 300px
  }
  .posting__button {
    display: inline-block;
    width: 185px;
    margin: 0 10px 60px 10px
  }
}
@media (min-width:660px) {
  body {
    min-width: 660px
  }
}
.hidden {
  display: none
}